.about-info {
	display: grid;
	grid-gap: 30px;
	grid-template-areas: 
	'bioimage bio bio'
	'job1 job2 job3';
	grid-template-columns: repeat(3, 1fr);

	.bio-image {
		grid-area: bioimage;
		margin: auto;
		border-radius: 50%;

	}
	.bio {
		grid-area: bio;
	}

	.job-1 {
		grid-area: job1
	}
	.job-2 {
		grid-area: job2
	}
	.job-3 {
		grid-area: job3
	}
	.job {
		background: lighten($primary-color, 5);
		padding: .5rem;
		border-bottom: $secondary-color 5px solid;
	}
}

#main-footer {
	text-align: center;
	padding: 1rem;
	background: darken($primary-color, 10);
	color: set-text-color($primary-color);
	height: 80px;
}


